# Go
bin/
*.exe
*.test

# Logs
*.log
app.log
error.log


# Build artifacts
build/
dist/
temp/

# IDE/editor files
.vscode/
.idea/
*.swp
.air.toml
fly.toml
README.md

# Environment files
.env
.env.*

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
