# fly.toml app configuration file generated for product-management-polished-haze-1688 on 2025-11-03T10:31:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'product-management-polished-haze-1688'
primary_region = 'cdg'

[build]
  image = "ghcr.io/aboagye-dacosta/shopbackend:latest"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
